<footer>
  <div class="f_info">
    <div class="f_info_social"></div>
    <div>Ashish pvt Limited</div>
    <div class="f_info_links">
      <a>privacy</a>
      <a>terms</a>
    </div>
  </div>
</footer>
